@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ASPNet MVC</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Theme/AdminTheme/plugins/fontawesome-free/css/all.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Theme/AdminTheme/dist/css/adminlte.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/Home/Index" class="brand-link">

                <span class="brand-text font-weight-light">Dashboard</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a href="/Home/Index" class="d-block">ASP.Net MVC</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->


                        <li class="nav-item">
                            <a href="/Admin/Kategoriler/" class="nav-link">
                                <p>
                                    Kategoriler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Konular/" class="nav-link">
                                <p>
                                    Konular
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Moderatorler" class="nav-link">
                                <p>
                                    Moderatörler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Uyeler" class="nav-link">
                                <p>
                                    Üyeler
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/Login/Logout" class="nav-link">
                                <p>
                                    Çıkış Yap
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Index" class="nav-link">
                                <p>
                                    Forum Ana Sayfa
                                </p>
                            </a>
                        </li>




                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content">
                @RenderBody()


            </div>

            <!-- Content Header (Page header) -->
            <!-- /.content-header -->
            <!-- Main content -->
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.0.4
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/Theme/AdminTheme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Theme/AdminTheme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/Theme/AdminTheme/dist/js/adminlte.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>

